*{
	margin:0;
	padding:0;
	box-sizing:border-box; 
}

html{
	scroll-behavior: smooth;
}

body{
	margin:0;
	padding:0;
	overflow-x:hidden; 
}

::-webkit-scrollbar{
		width:8px;
	    background:black; 
	   }
::-webkit-scrollbar-thumb{
		 background:whitesmoke;  
		 box-shadow:inset 0 0 5px rgba(0,0,0,0.5);
		}

a{
	text-decoration: none;
	color: white;
}
ul{
 	list-style: none;
 }
.welcome{
	position: relative;
	width: 100%;
	height:40px;
	text-align: center;
	background:rgb(21, 51, 85);
	color: white;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: 1.2px;
	font-family: calibri;
	transition: 0.4s ease;
	animation:down 3.6s;
}
  #top{
  	margin-top: 0;
  }
 
@keyframes down{
	0%{
	   margin-top:-50px;
	}
	40%{
	   margin-top:-50px;
	}
	80%{
	   margin-top:-50px;
	}
	99%{
	   margin-top:0px;
	}

	100%{
	   margin-top:0px;
	}
	
}
.welcome button{
	width:25px;
	height: 20px;
	border:0;
	outline: none;
    background:transparent; 
	color: white;
	position: absolute;
	right:25px;
	top:10px;
	padding:2px 0px; 
	line-height:16px;
    font-size: 14px;
    font-weight:bold; 
    cursor: pointer;
    transition:0.3s ease; 
}

.welcome button:hover{
	background:rgba(214, 22, 22,0.9); 
}

/*------------------header_start--------------*/
.header{
	width: 100vw;
	height:auto;
    transition: 0.5s ease;
    animation:show 18s infinite linear;  
}

@keyframes show{
	0%{
    background: linear-gradient(rgba(12, 112, 154,0.6),rgba(73, 21, 143,0.8)),url(Images/tech1.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
	20%{
    background: linear-gradient(rgba(12, 112, 154,0.6),rgba(73, 21, 143,0.8)),url(Images/tech2.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
	40%{
    background: linear-gradient(rgba(12, 112, 154,0.6),rgba(73, 21, 143,0.8)),url(Images/tech8.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
	60%{
    background: linear-gradient(rgba(12, 112, 154,0.6),rgba(73, 21, 143,0.8)),url(Images/tech7.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
	80%{
    background: linear-gradient(rgba(12, 112, 154,0.6),rgba(73, 21, 143,0.8)),url(Images/tech5.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
	100%{
    background: linear-gradient(rgba(12, 112, 154,0.6),rgba(73, 21, 143,0.8)),url(Images/tech6.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	}
  }   
	
.header .nav {
	   width: 100%;
	   height:70px;
	   background:white;
	   display:flex;
	   align-items: center;
	   transition:0.4s ease; 
	   animation:left 1s; 
  }
@keyframes left{
	0%{
		transform:translateX(-100%); 
		
	}
	
	100%{
		transform:translateX(0%); 
	}
}
.header .nav .logo{
	   height: 100%;
	   font-size: 20px;
	   font-family: calibri;
	   margin-left: 50px;
	   padding:24px 40px;
	   display: flex; 
	   align-items: center;
	   transition:0.3s ease;
	   animation:left 2.5s; 
}

.header .nav .logo img{
     height: 65px;
     width: auto;
}

@keyframes left{
	0%{
		transform:translateX(-120%); 
		
	}
	60%{
		transform:translateX(-120%); 
	
	}
	100%{
		transform:translateX(0%); 
	}
}

.header .nav .menu{
	width:50%;
	height: 100%;
    font-size: 20px;
    margin:0px 10px 0px 360px;
    transition:0.3s ease; 
    animation:top 1.8s; 
}
@keyframes top{
	0%{
		transform:translateY(-120%); 
		
	}
	60%{
		transform:translateY(-120%); 
	
	}
	100%{
		transform:translateY(0%); 
	}
}
.header .nav .menu ul{
	width:100%;
	height: 100%;
	list-style: none;  
	display: flex; 
   align-items: center;
   justify-content: center;
}
.header .nav .menu ul li{
     font-weight: 100px;
     margin:6px 0px 0px 25px;
     text-transform: uppercase;
     font-size: 12px;
     font-family: sans-serif;
     letter-spacing: 1.2px;
     word-spacing: 1.3px;
     
}

.header .nav .menu ul li a{
	margin:0;
	color:darkslategray;
	padding:22px 6px; 
	transition: 0.4s ease;
	border-bottom: 2px solid transparent;
}

.header .nav .menu ul li a:hover{
	 color: navy;
	 border-bottom: 2px solid navy;
	 font-weight: bold;
}

.header .content{
    color: white;  
	width:53%;
	height:auto;
	margin:60px 80px 40px 50px;
	padding: 20px 30px;
  }

  .header .content p{
  	padding: 10px 27px;
  	font-size:18px;
  	letter-spacing:1px;
  	animation:bottom 3.2s;
  	margin:30px 0px 0px 0px;   
  }

  .header .content .slog{
  	padding: 10px 27px;
  	font-size:18px;
  	font-family: sans-serif;
  	letter-spacing:1px;
  	animation:bottom 3.2s;
  	margin:10px 0px 0px 0px;   
  }
  .header .content .border{
      border-left: 6px solid white;

  }

  @keyframes bottom{
     0%{
		transform:translateY(100%); 
		opacity: 0;
		
	}
	60%{
		transform:translateY(100%); 
	    opacity: 0;
	}
	100%{
		transform:translateY(0%); 
		opacity: 1;
	}
}
  .header .content h1{
  	font-size:3em; 
  	animation:right 3s;
  }

  @keyframes right{
     0%{
		transform:translateX(20%); 
		opacity: 0;
		
	}
	50%{
		transform:translateX(20%); 
	    opacity: 0;
	}
	100%{
		transform:translateX(0%); 
		opacity: 1;
	}
}
  .header .content button{
  	 padding:8px 20px;  
  	 margin:30px 20px 42px 20px;
  	 border:0;
  	 outline:none;
  	 background:deepskyblue;
  	 color:white; 
  	 font-size:15px;
  	 font-family: calibri;
  	 border-radius:6px;
  	 border: 1.3px solid aqua;
  	 letter-spacing: 1px;
  	 cursor: pointer; 
  	 animation:bottom 3.2s; 
  	 transition: 0.5s ease; 
  	 text-transform: uppercase;
  	 transform:translateX(0px);
  	 box-shadow: inset 1px 0.5px 7px rgba(0,0,0,0.4);
  }
  .header .content button:hover{
  	 box-shadow: 0 2px 6px rgba(0,0,0,0.63);
  	 transform:translateX(-13px);
  	 background: deepskyblue;
  	 color:white; 
  	 border: 1.4px solid aqua;
  }

  .header .content .active{
  	 width: 150px;
  	 background:rgba(0, 0, 0, 0.4);
  	 color:aqua; 
  	 border: 1px solid white;
  	 box-shadow: inset 1px 0.5px 5px rgba(0,0,0,0.5);
  	 
  }
  .header .content .active:hover{
  	 color:white; 
  	 transform:translateX(13px);
  }

/*------------------header_end--------------*/


/*---------------side_link-start-------------*/

  .side-link{
     position: absolute;
     top:240px;
     right:50px; 
  	 width:auto;
  	 display:block;
  	 /*border:1.4px solid white;*/
  	 animation:link 3.4s;
  	 cursor: pointer;
  }

  @keyframes link{
     0%{
		transform:translateX(200%); 
		
		
	}
	80%{
		transform:translateX(200%); 
	    
	}
	100%{
		transform:translateX(0%); 
	
	}
}

  .side-link a{
     background:#0A0927;
   	 width:40px;
   	 height: 40px;
   	 font-size:18px; 
   	 border-radius:6px;
   	 margin:7px 5px; 
   	 display:block;
   	 padding:10px 0px; 
   	 text-align: center;
   	 line-height: 20px;
   	 border:1px solid slategray;
   	 transition: 0.4s ease; 	
  }

  .side-link a:hover{
  	border: 0;
  }
  .side-link a i{
     color:white;
    }
    /* .side-link a:hover i{
    	color: white;
    } */
    .side-link a:hover{
    	background:linear-gradient(rgb(36, 153, 202),rgb(11, 93, 128));
    	transform: scale(0.84);
    }

 /*---------------side_link-end----------------*/


/*------------------About_us-start--------------*/

   .about-section{
     width:100vw;
	 padding: 30px 40px 20px 40px;
	 margin: 0;   
   }
  .about-section h1{
  	width: 50vw;
  	padding:0;
  	margin: 0 auto;
  	color: darkslategray;
  	font-size:2.3em;
  	text-align: center;
  	border: 2px solid darkslategray;
  	text-transform: capitalize;
  }  
  .about-section .sub{
	display: flex;
	flex-wrap: wrap;
	flex:1;
	justify-content: space-between;
  }
   .about-section .sub .para{
   	 width:800px;
   	 height:auto;
   	 margin:40px 0 30px 0;
   }

   .about-section .sub .video-box{
   	 width:550px;
   	 /* border:2px solid rgb(255, 39, 89); */
     margin: 60px 0 20px 0;
	 border-radius: 18px;
	 overflow: hidden;
   }
   .video-box iframe{
	width: 100%;
	margin: 0;
	padding: 0;
	background:transparent ;
	aspect-ratio: 16/9;
   }

   .about-section .sub .para p{
   	 margin-top:10px;
   	 padding: 6px 5px;
   	 color: darkslategray;
   	 font-size: 17px;
   	 font-family:calibri;
	 text-align: justify;
   	 line-height:23px; 
   }

    .about-section .sub .para .img{
     width:120px;
     height: 120px; 
     background:url(Images/M11.jpg);
	 background-size:cover;
	 background-repeat:no-repeat;
     background-position:top center;
     border:1.5px solid white;	
     margin-top:0;
     margin:19px 30px 10px 0px;  
   	 float:left;
   	 shape-outside:rect(); 
   	
   }


   .about-section .marq{
   	  width:100%;
   	  height:auto;
   	  margin-top:80px;
   	  padding: 10px;
   	  text-align: center;
   	  display: inline-block;
   	  cursor: pointer;
   }
   .about-section .marq .box{
   	  width:170px;
   	  height:170px;
   	  margin:0px 21px; 
   	  border-radius:50%; 
   	  letter-spacing:0.5px;
   	  display: inline-block;
   	  cursor: pointer;
   	  border:2px solid deepskyblue;
   	  transition: 0.4s ease;
   	  overflow: hidden;
   }
   
   .about-section .marq #img1{
   	  background:url(Images/M11.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img2{
   	  background:url(Images/M5.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img3{
   	  background:url(Images/M3.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img4{
   	  background:url(Images/M2.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img5{
   	  background:url(Images/M9.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img6{
   	  background:url(Images/M1.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img7{
   	  background:url(Images/M12.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img8{
   	  background:url(Images/M10.jpeg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:center;
   }

    .about-section .marq #img9{
   	  background:url(Images/M11.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img10{
   	  background:url(Images/M5.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img11{
   	  background:url(Images/M3.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img12{
   	  background:url(Images/M2.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img13{
   	  background:url(Images/M9.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img14{
   	  background:url(Images/M1.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img15{
   	  background:url(Images/M12.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:top center;
   }

   .about-section .marq #img16{
   	  background:url(Images/M10.jpeg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position:center;
   }

    .about-section .marq .box:hover{
        transform: scale(1.14);
         box-shadow: 0 3px 12px rgba(0,0,0,0.8);
    }

       .about-section .marq .box .over{
          width:100%;
          height: 100%;
          background: rgba(0,0,0,0.8); 
          text-align: center;
          padding:8px 5px;
          transition: 0.6s ease; 
          transform: translateY(75%);
       }

       .about-section .marq .box:hover .over{
         transform: translateY(0%);
    }

    .about-section .marq .box .over h4{
    	border:0;
    	color: white;
    	font-family:calibri;
    	font-weight:50px; 
    	text-transform: capitalize;
    	letter-spacing:1px; 
    	transform: translateY(0);
    	transition: 1s ease;
    }

    .about-section .marq .box:hover .over h4{
    	transform: translateY(60px);
    }

	@media (max-width: 780px){
		.header .nav .logo{
			margin-left: 10px;
			padding:24px 40px;
	   }
	   .header .content{
		    width: 80%;
			margin:40px 30px 20px 20px;
			padding: 20px;
	    }
		.header .content button{
			padding:8px 18px;  
			margin:20px 0;
			border:0;
			outline:none;
		}
		.header .content .active{
			width: 110px;
			margin-left: 20px;
		}
		.header .content h1{
           font-size: 2.3rem;
		}
		.side-link{
			position: absolute;
			top:240px;
			right:20px; 
		 }
		.about-section{
			padding: 20px;
			margin: 0;   
		  }
	 .about-section .sub .para{
			width:100%;
			margin:40px 0 10px 0;
	   }
	   .about-section .sub .video-box{
		  width: 100%;
	   }
	 }
/*------------------About_us-end--------------*/

/*----------------------career_start-----------------*/
.career-section{
      width:100%;
      height:auto;
      background:rgb(191, 187, 215);
      padding: 30px 0 50px 0;
      text-align: center;
   }
  .career-section h1{
  	padding: 30px 30px;
  	color: navy;
  }  
   .career-section p{
   	 margin: 30px 0px;
   	 height: auto;
   	 padding: 10px 30px;
   }

   .career-section p em{
      padding: 0;
      color:#575858; 
   	  font-size:17px;
   	  font-weight: 100px;
   	  font-family: calibri;
   	  word-spacing:1px;
   }

   

   .career-section .sect{
   	  width: 100%;
   	  height: auto;
   	  margin-top:20px;
   	  margin-bottom: 60px;
   	  display: flex;
   	  flex-wrap: wrap;
   	  justify-content: center;
   }

    .career-section .sect .box{
    	width:260px;
    	height:auto;
    	background:white; 
        display: flex;
   	    flex-direction: column;
   	    justify-content: center;
        margin:15px 30px;
        padding:20px 12px;
        text-align: center; 
        cursor: pointer;
        transition: 0.3s ease;
        transform: scale(1);
    }

     .career-section .sect .box:hover{
    	transform: scale(1.09);
    	box-shadow: inset 0.5px 1px 5px rgba(191, 187, 215,0.8);
    }
     .career-section .sect .box .icon{
    	width:80px;
    	height: 80px;
    	background: #1A8FCC;
    	border-radius: 50%; 
    	margin:auto; 
    }
     .career-section .sect .box .icon i{
    	color: white;
    	font-size:35px;
    	line-height:80px;  
    }

    .career-section .sect .box .icon .fa-lightbulb-o{
    	font-size:43px;
    }

    .career-section .sect .box .icon .fa-trophy{
    	font-size:38px;
    }

     .career-section .sect .box h2{
    	margin-top:15px;
    	padding:5px;
    	color: rgba(0,0,0,1);
    	display:block;
    	text-transform: capitalize;
    }
     .career-section .sect .box p{
    	margin:0px;
    	padding:5px 13px;
    	color:gray;
    	display:block;
    }

 /*----------------------career_end-----------------*/

 /*----------------------skills_start-----------------*/
   .skill-section{
   	  width:100vw;
      height:auto;
      padding:20px 15px 39px 15px;
      margin:0px; 
      color: white;
      text-align: center; 
      background: linear-gradient(rgba(12, 112, 154,0.9),rgba(73, 21, 143,0.9)),url(Images/tech13.jpg);
	  background-size:cover;
	  background-repeat:no-repeat;
	  background-position: center;
	  background-attachment: fixed;

   }
    .skill-section h1{
        
  	    padding: 6px 30px;
  	    margin-top:20px;  
  	    text-align:left; 
    }

    .skill-section p{
   	 margin: 0px 0px 40px 0px;
   	 padding: 10px 30px;
   	 text-align:left; 
   	 letter-spacing: 0.3px;
   	 font-family: calibri;
    }

   .skill-section .skill-box{
   	 width:310px;
   	 height:280px;
     padding:20px 10px;
     color: rgba(0,0,0,1);
     display: inline-block;
     margin:15px 20px;
     background:linear-gradient(white,white); 
     border-radius:7px;
     text-align: center; 
     overflow: hidden;
     cursor: pointer;
     transform: scale(1.0);
     box-shadow: 0 0px 7px rgba(0,0,0,0.5); 
     transition:all 0.5s; 
   }

    .skill-section .skill-box:hover{
    	transform: scale(0.94);
        background:linear-gradient(30deg,navy,deepskyblue);
        box-shadow: 0 0px 10px rgba(0,0,0,0.6); 
    }

   .skill-section .skill-box h2{
       border:0;
       text-align: center;
       margin:0;
       margin: 13px 0; 
       letter-spacing:0.6px;
       transition: 0.5s ease;
       color: #525353;
   }

   .skill-section .skill-box p{
       color:gray;
       border:0;
       text-align: center;
       margin:0;
       margin-bottom:10px; 
       padding:2px 20px;
       font-size: 16px;
       transition: 0.5s ease;
   }

   .skill-section .skill-box:hover p{
       color:white;
       font-size: 15px;
   }

   .skill-section .skill-box:hover h2{
       color:white;
       font-size: 24px;
   }
   
    .skill-section .skill-box span{
    	width: 45px;
    	height: 45px;
    	display: block;
    	font-size: 20px;
    	font-family: calibri;
    	font-weight: bold;
    	border-radius: 50%;
    	line-height: 45px;
    	color:white;
    	background:navy;
    	text-align: center;
    	margin:auto;
    	margin-top:15px;
        transition: 0.6s ease;
    } 

    .skill-section .skill-box:hover span{
    	background:white;
    	color:navy;
    	margin-top:8px;
    	transform:rotate(-360deg) scale(0.8);
    }
   .skill-section .skill-box button{
   	 width: 140px;
   	 border:0;
   	 border-radius:3px;
   	 letter-spacing: 1px;
   	 font-size: 11px;
   	 font-weight: bold;
   	 outline: 0;
   	 padding: 12px 20px;
   	 background:white;
   	 box-shadow: inset 1px 0.5px 5px rgba(0,0,0,0.8); 
   	 color:navy;
   	 cursor: pointer;
   	 margin-top:0px;
   	 transform: translateY(60px);
   	 transition: 0.5s ease;
   }

   .skill-section .skill-box:hover button{
   	  transform: translateY(9px);
   }
   
   .skill-section .skill-box button:hover{
   	  	 box-shadow: inset 1px 1.5px 6px rgba(0,0,0,0.9); 
   }
 /*----------------------skills_end-----------------*/

  

/*-------------How_it-works-start---------------*/
    
    .how{
    	width:100%;
    	height:auto;
    	background:whitesmoke; 
    	padding:50px 0px 60px 0px; 
    	text-align: center;
    	color: white;
    	display:block;
    }
    .how h1{
    	color:navy;
    	margin-bottom:40px; 
    }
    .how .box{
    	width:260px;
    	height:250px;
    	background:white; 
        display:inline-block;
        margin:17px 30px;
        padding:20px 12px;
        text-align: center; 
        cursor: pointer;
        box-shadow: 0 0px 10px 2px rgba(0,0,0,0.3); 
        transition: 0.3s ease;
        transform: scale(1);
    }

    .how .box h2{
    	font-size: 20px;
    	letter-spacing:0.6px;
    	color: #525353;
    	text-transform: capitalize;
    	margin-top:15px;
    	padding:5px;
    }

    .how .box:hover{
    	transform: scale(1.08);
    	box-shadow: 0 3px 10px rgba(0,0,0,0.6);
    }
    .how .box .icon{
    	width:80px;
    	height: 80px;
    	background: #1A8FCC;
    	border-radius: 50%; 
    	margin:auto; 
    }
    .how .box .icon i{
    	color: white;
    	font-size:28px;
    	line-height:80px;  
    }

    
    .how .box p{
    	margin:0px;
    	padding:5px 13px;
    	color:gray;
    	display:block;
    }

/*-------------How_it-works-end---------------*/


 /*------------contact_us-start----------------*/
   .footer{
   	width: 100vw;
   	height: auto;
   	padding:40px 0;
   	background:rgb(11, 76, 107);   
   }
   .footer h1{
   	width:80%;
    padding:15px 0px;
    margin:30px auto;
    font-size:38px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:1px;
    color:white; 
    background:rgba(0,0,0,0.2); 
    border-bottom:1px solid rgb(17, 91, 126);
    border-radius:0px; 
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
   }
   .footer .section{
   	width:80%;
   	height:auto;
   	font-size: 30px;
   	padding:0px 25px;
   	margin:auto;
   	margin-top:50px;
   	margin-bottom:60px;
   	background:none;
   	color: white;
   	border-left:1px solid rgb(17, 91, 126);
   	border-right:1px solid rgb(17, 91, 126);
   	display:flex;   
   }

   .footer .section .content{
       display:flex;
       height:auto;
       width:90%;
       margin:0px auto;
       padding-left:100px; 
       cursor:pointer; 
   }
   .footer .section .content ul{
   	height:100%;
   	width:100%; 
   	font-family:calibri;
   	font-size:18px;
    margin:0px;
    padding:20px 20px; 
    text-transform:uppercase; 
    letter-spacing:1.5px;  
   }
   .footer .section .content ul h4{
   	  margin-bottom:12px; 
   }
   .footer .section .content ul li{
	   	font-size:13px;
	   	padding:8px 0px; 
	   	font-family:tahoma;
	   	text-transform:capitalize; 
	   	letter-spacing:1px;
	   	color:rgb(139, 175, 192); 
	   	transition:0.2s ease;    
   }
      .footer .section .content ul li:hover{
         color:white; 
      }

   .footer .link{
   	 background:transparent;
   	 width: 80%;
   	 height:auto; 
     margin:20px auto;
     display: flex;
     justify-content: center;
     align-items: center;
	 flex-wrap: wrap;
   	 border-top:1px solid rgb(17, 91, 126);
   	 border-bottom:1px solid rgb(17, 91, 126);
   	 padding:10px 40px; 
   	 cursor: pointer; 
   	 box-sizing: border-box;
  
   }
   .footer .link h4{
   	 display: flex;
   	 color: white;
   	 font-family: calibri;
   	 font-size:18px; 
   	 margin-right:30px;
   	 text-transform:capitalize; 
   	 letter-spacing:1px;  
   }
   .footer .link a{
   	 background:white;
   	 width:37px;
   	 height: 37px;
   	 font-size:16px; 
   	 border-radius: 50%;
   	 margin:0px 5px; 
   	 display:flex;
	 justify-content: center;
	 align-items: center;
   	 transition: 0.3s ease;
   }
  

   .fa{
   	 color:navy;
   	 outline: none;
   	 border:none; 
   }
    .footer .link a:hover .fa{
    	color:white;
    }
     .footer .link a:hover{
     	background: navy;
     	transform: translateY(-5px);  
     }

      .footer .top-arrow{
      	position: fixed;
      	 width:40px;
      	 height:40px; 
      	 right:54px;
      	 bottom:140px;
      	 background:white;
      	 text-align: center; 
      	 border-radius: 50%;
      	 transform:translateY(0) scale(0);
      	 box-shadow: 0 0 5px rgba(67, 75, 79,0.9);
      	 transition: 0.4s ease;
      }

      .footer .sticky{
      	 transition: 0.6s ease;
      	 transform: translateY(0) scale(1.0);
      }

      .footer .top-arrow:hover{
      	 animation:bounce 0.8s infinite linear;
      }

  @keyframes bounce{
  	  0%{
  	  	transform:translateY(0px);
  	  }
  	  50%{
  	  	transform:translateY(-5px);
  	  }
  	  80%{
  	  	transform:translateY(5px);
  	  }
  	  100%{
  	  	transform:translateY(0px);
  	  }
  }     
      .footer .top-arrow a{
      	width: 100%;
      	height: 100%;
      	display: block;
      	text-align: center;
      	padding:10px 0px;
      	font-size:20px;
      	box-sizing: border-box;
      	transform: rotate(180deg);
      }

     .bottom{
         width: 100%;
         height:50px;
         text-align: center;
         line-height:30px; 
         padding:10px 0px; 
         margin:0px;
         font-size:14px;
         font-family: calibri;
         text-transform: capitalize;
         letter-spacing:1px;  
         color:white;
         background:rgb(3, 54, 78);
         box-shadow:0 0 9px rgba(22, 129, 180,0.4);     
     }
    .bottom i{
     	color:white;
     	margin:0px 7px;
     	font-size:14px; 
     	line-height:30px; 
     }


   /*------------contact_us-end----------------*/


   /*-----------------------------------Form-start--------------------------*/

     .container{
		   width:100vw;
		   height:100vh;
		   position:fixed;
		   left:0;
		   top:0;
		   background: linear-gradient(30deg,deepskyblue,springgreen);
		   display: none;
		   z-index: 10;
			}

    .container .cancel{
    	position: absolute;
    	top: 73px;
    	right: 296px;
    	width: 40px;
    	height: 40px;
    	line-height: 40px;
    	text-align: center;
    	background: rgba(0, 0, 0, 0.9);
    	color: white;
    	font-size: 15px;
    	font-family: sans-serif;
    	cursor: pointer;
    	z-index: 15;
    	transform: scale(1.2);
    	border-radius: 50%;
    	transition: 0.4s ease;
    	animation: zoom 2s;
    }

    @keyframes zoom{

    	0%{ transform: scale(0); }
    	20%{ transform: scale(0); }
    	40%{ transform: scale(0); }
    	60%{ transform: scale(0); }
    	80%{ transform: scale(0); }
       100%{ transform: scale(1.2); }
    }

    .container .cancel:hover{
        background: rgba(224, 38, 19, 1);
    }

	.container .box{
		      width:70%;
			  height:90%;
			  background:white;
			  margin:35px auto;
			  padding:0;
			  box-shadow: 0 0 30px rgba(0,0,0,0.8);
			  transform:scale(0.84);
			  animation:Zooming 1.5s;
			  display:flex;
			}

 .show {
	display: block;
   }
	.container .box .input-group{
			width:70%;
			height:100%;
			margin:0;
			padding:0;
			display: block;
			overflow:hidden;
	}
	
	.container .box .input-group .form{
		width:100%;
		height:100%;
		padding:10px 40px;
		margin:40px 0px; 
		overflow:auto;
	}

.container .box .input-group .form::-webkit-scrollbar{
	width:8px;
	background:white; 
}

.container .box .input-group .form::-webkit-scrollbar-thumb{
	background:gray; 
	border-radius:5px;   
}

.container .box .input-group .form::-webkit-scrollbar-track{
	border-radius:5px;
	background:rgb(0,0,0);   
}
			
			
.container .box .input-group .form .input-field{
		width:100%;
		height:auto;
		margin:10px 0px ;
		padding:0px 5px;
		box-sizing:border-box;
}

.container .box .input-group .form .input-field label{
	display:inline-block;
	width:30%;
	padding:10px 0px;
	text-transform:capitalize;
	font-family:calibri;
	box-sizing:border-box;
	word-spacing:3px;
}

	.container .box .input-group .form .input-field input{
			width:60%;
			height:38px;
			border-radius:4px;
			box-sizing:border-box;
			outline:none;
			border:0;
			border: 1.1px solid gray;
			font-size:14px;
			padding:3px  15px;
			margin:0;
			margin-left:20px;
			letter-spacing: 1px;
			
	}

	   .container .box .input-group .form .input-field input:focus{
			border: 1.1px solid deepskyblue;
	    }
	
		.container .box .input-group .form .input-field input[type="reset"]{
			width:15%;
			margin:0;
			margin-top:22px;
			margin-bottom:30px; 
			margin-left:0px;
			box-shadow: 0 0 5px rgba(0,0,0,0.5);
			background:white;
			transition: 0.3s ease;
			border-radius: 4px;
			border:0; 
			cursor: pointer;
		}

		.container .box .input-group .form .input-field input[type="reset"]:hover{
			background:deepskyblue;
			box-shadow: 0 0 6px rgba(0,0,0,0.6);
			color:white; 
		}
		.container .box .input-group .form .input-field input[type="submit"]{
			width:65%;
			margin:0;
			margin-top:22px;
			margin-bottom:30px; 
			margin-left:100px; 
			border:0; 
			background:navy;
			color:white; 
			transition: 0.4s ease; 
			border-radius: 4px;
			cursor: pointer;
		}
		.container .box .input-group h1{
				text-align:center;
				margin-top:40px; 
				font-family:calibri;
				color:navy; 
				text-transform:uppercase;		
		}
		.container .box .input-group .form .input-field select{
			width:60%;
			height:38px;
			border-radius:3px;
			box-sizing:border-box;
			outline:none;
			border:0;
			border-radius:4px; 
			font-size:14px;
			border:1px solid gray;
			padding:3px  15px;
			margin:15px 0px;
			margin-left:20px;
			
		}

		.container .box .input-group .form .input-field input[type="number"]::-webkit-inner-spin-button,
		.container .box .input-group .form .input-field input[type="number"]::-webkit-outer-spin-button{
				-webkit-appearance:none;
		}					
	.container .box .side-image{
			width:30%;
			height:100%;
			background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)) , url(Images/tech8.jpg);
			background-position:center;
			background-size:cover;
			background-repeat:no-repeat;
			margin:0;
			padding:0;
			display:block;
	}
    .container .box .side-image i{
		font-size:4.6em;
		width: 100%;
		margin:25px auto;
		padding:5px;
		text-align:center;
		color:#F0ED54;			    			  
	 }
		@keyframes Zooming {
		      0%{
			       transform:scale(0);
			  }
			   20%{
			       transform:scale(1);
			  }
			  40%{
			       transform:scale(0.7);
			  }
			  60%{
			       transform:scale(0.9);
			  }
			   70%{
			       transform:scale(0.7);
			  }
			   100%{
			       transform:scale(0.85);
			  }
			  
		}
		.container .box .side-image p{
				font-family:calibri;
				text-transform:capitalize;
				padding:px 8px;
				margin:0;
				text-align:center;
				color:white;
				font-size:20px;
				margin:0;
		}
		.container .box .side-image h3{
				font-size:38px;
				font-family:calibri;
				text-transform:capitalize;
				margin-top:200px;
				padding:5px;
				text-align:center;
				color:white;
				transform:translateY(-6px);
		}

   /*---------------------------Form-end--------------------------------*/

   .welcome_big{
	  display: none;
   	   position: fixed;
   	   left:0;
	   top:0;
   	   width: 100vw;
   	   height: 100vh;
   	   background: whitesmoke;
   	   /* display: flex; */
   	   flex-direction: column;
   	   justify-content: center;
   	   align-items: center;
   	   transform: scale(0);
   	   z-index: 1000;
   	   animation: zoom 5s;
    }

   @keyframes zoom{
   	  0% {
   	    transform: scale(1);
   	   }
   	   85% {
   	    transform: scale(1);
   	   }
   	   100% {
   	    transform: scale(0);
   	   }
   }

   .welcome_big img{
   	   width: 900px;
   }

  .welcome_big .scale{
   	 opacity: 0;
   	 transform: translateY(0) scale(0);
   	 animation:scale 4.8s;
   }

   @keyframes scale{
   	  0% {
   	  	opacity: 0;
   	    transform: translateY(-100%) scale(0);
   	   }
   	   45% {
   	  	opacity: 1;
   	    transform: translateY(0) scale(1.2);
   	   }
       55% {
   	  	opacity: 1;
   	    transform: translateY(0) scale(1.2);
   	   }
   	   100% {
   	  	opacity: 0;
   	    transform: translateY(0) scale(1.4);
   	   }
   }